


<div align="center" class="login_box">
<%= form_tag sessions_path do %>
   <div class="fields">
      <table width="25%">
         <tr>
            <td><%= label_tag :email %></td>
            <td><%= text_field_tag :email, params[:email] %></td>
         </tr>
         <tr>
            <td><%= label_tag :password %></td>
            <td><%= password_field_tag :password %></td>
         </tr>
         <tr>
            <td><%= check_box_tag :remember_me, 1, params[:remember_me] %>  <%= label_tag :remember_me %></td>
         </tr>
      </table>
   </div>
   <div class="actions">
      <%= submit_tag "Log in" %>
   </div>
<% end %>
</div>
